/* REMOVE WHITE SPACES */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    overflow-x:hidden;
    font-family:Arial,sans-serif;
}

/* CONTACT PAGE */

.contact{
    background:#e8f5e9;
    padding:90px 5%;
    text-align:center;
    width:100%;
}

/* TITLE */

.contact h2{
    font-size:52px;
    color:#0b6e4f;
    margin-bottom:25px;
}

/* INTRO TEXT */

.contact-text{
    font-size:22px;
    max-width:1000px;
    margin:auto;
    margin-bottom:60px;
    color:#333;
    line-height:1.8;
}

/* CONTACT INFO */

.contact-info{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    margin-bottom:60px;
    width:100%;
}

.info-box{
    background:white;
    width:300px;
    padding:35px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.info-box:hover{
    transform:translateY(-8px);
}

.info-box h3{
    color:#0b6e4f;
    font-size:30px;
    margin-bottom:15px;
}

.info-box p{
    font-size:20px;
    color:#444;
}

/* CONTACT FORM */

.contact-form{
    background:white;
    max-width:850px;
    width:100%;
    margin:auto;
    padding:45px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

/* FORM TITLE */

.contact-form h3{
    color:#0b6e4f;
    font-size:38px;
    margin-bottom:30px;
}

/* FORM */

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:22px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:18px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:18px;
    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline:none;
    border:2px solid #0b6e4f;
}

/* BUTTON */

.contact-form button{
    background:#0b6e4f;
    color:white;
    border:none;
    padding:18px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#09543d;
}

/* RESPONSIVE */

@media(max-width:768px){

    .contact{
        padding:70px 4%;
    }

    .contact h2{
        font-size:40px;
    }

    .contact-text{
        font-size:19px;
    }

    .contact-form{
        padding:30px;
    }

    .contact-form h3{
        font-size:30px;
    }

    .info-box{
        width:100%;
    }

}